<div class='col-xs-12'>
  <div class="logo col-xs-3"><a href="<%= root_path %>"><%= image_tag 'corey-logo.png' %></a></div>
  <div class='col-xs-9'>
    <div class='links col-xs-12'>

      <div class='link-group col-xs-2'>
        <a href="#">
          <div class='link-img'><%= image_tag "Santa.png" %></div>
          <div class='link-1'>About</div>
        </a>
      </div>

      <div class='link-group col-xs-2'>
        <a href="https://soundcloud.com/coreycambridge" target="_blank">
          <div class='link-img'><%= image_tag "BrownBag.png" %></div>
          <div class='link-1'>Music</div>
        </a>
      </div>

      <div class='link-group col-xs-2'>
        <a href="#">
          <div class='link-img'><%= image_tag "smokebreak.png" %></div>
          <div class='link-1'>Videos</div>
        </a>
      </div>
      
      <div class='link-group col-xs-2'>
        <a href="#">
          <div class='link-img'><%= image_tag "discohead.png" %></div>
          <div class='link-1'>Contact</div>
        </a>
      </div>

      <div class='link-group col-xs-2'>
        <a href="#">
          <div class='link-img'><%= image_tag "dancer.png" %></div>
          <div class='link-1'>Yo</div>
        </a>
      </div>
      
    </div>
  </div>
</div>

<div>
  <div class='col-xs-5'></div>
  <div class='col-xs-5'>  
    <div class='main-display'>
      <!-- <div class="embed-responsive embed-responsive-16by9 div_style">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PGjzvYxfJN0?rel=0&amp;showinfo=0" allowfullscreen></iframe>
      </div> -->

      <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/51362197&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
  </div>
</div>

<footer>
    <div class="social-icons">
      <a href="https://www.facebook.com/CoreyCambridge" target="_blank">
        <div class="icon-size fb"></div>
      </a>
      <a href="https://twitter.com/coreycambridge" target="_blank">
        <div class="icon-size twitter"></div>
      </a>
      <a href="https://instagram.com/coreycambridge" target="_blank">
        <div class="icon-size ig"></div>
      </a>
      <a href="https://open.spotify.com/artist/1fuLa13rm069l1Uw5fDW34" target="_blank">
        <div class="icon-size spotify"></div>
      </a>
      <a href="https://soundcloud.com/coreycambridge" target="_blank">
        <div class="icon-size soundcloud"></div>
      </a>
    </div>
</footer>